<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Bodenseeschifferpatent {TITLE}</title>
	<meta name="description" content="Alle Informationen und die offiziellen Prüfungsfragen für das Bodenseeschifferpatent." />
	<meta name="keywords" content="Bodenseeschifferpatent, Schifferpatent" />
	
	{HEADER}

</head>

<body>
		
	<div id="wrapper">
	
		<div id="nav">			
			{MENU}		
		</div><!--nav-->
	
		<div id="wrapcontent">		
			{CONTENT}		
		</div><!-- #wrapcontent -->
		
		<div id="footer">		
			{FOOTER}			
		</div><!-- #footer -->
	  
	</div><!-- #wrapper -->

</body>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://adriansieber.com/piwik/" : "http://adriansieber.com/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://adriansieber.com/piwik/piwik.php?idsite=6" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

</html>
