<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Bodenseeschifferpatent{TITLE}</title>
	<meta name="description" content="Alle Informationen und die offiziellen Prüfungsfragen für das Bodenseeschifferpatent." />
	<meta name="keywords" content="Bodenseeschifferpatent, Schifferpatent" />
	{HEADER}
</head>

<body>
	<div id="wrapper">	

		<nav>
			{MENU}
		</nav>
	
		<section id="wrapcontent">
			{CONTENT}
		</section>
		
		<div id="footer">
			{FOOTER}
		</div>	  

	</div>
</body>


<script type="text/javascript">
/* 
(
	function(){
		window.javascriptgrid={columns:{'default':{columns:12}},columnWidth:60,gapWidth:20};
		var script=document.createElement('script');
		script.src='http://jsg.javascriptgrid.org/jsg.js';
		document.getElementsByTagName('HEAD')[0].appendChild(script);
	}
)();

 */
</script>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://adriansieber.com/piwik/" : "http://adriansieber.com/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://adriansieber.com/piwik/piwik.php?idsite=6" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

</html>
