extends article

block append text

  #hullforms
    each hullform, index in page.metadata.hullforms
      div
        img(
          src="images/1px.gif",
          alt=hullform,
          style=`background-position: 0 ${-index * 72}px`
        )
        span= hullform
