---
layout: default
---

<ul class="sidebar">

		{% for p in site.posts %}
			{% if page.categories == p.categories  %}
				<li>
					<a {% if p.available == false %}class="coming_soon"{% endif %} href=".{{ p.url | remove:'.html' }}" >
						{{ p.title }}
					</a>
				</li>
			{% endif %}
		{% endfor %}

</ul>

{% if page.available == false %}

	<div class="text">

		<h2>{{ page.title }}</h2>
		<hr />

		<h3>Diese Seite ist bald verfügbar!</h3>
		<p></p>
		<hr />

	</div>

{% else %}

	<div class="text" id="{{ page.url | remove:'.html' | remove_first:'/'  }}">

		{{ content }}

		<div id="modified">Letzte Bearbeitung: {{ page.date | date:"%Y-%m-%d" }}</div>

	</div>

{% endif %}